*{
  padding: none;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: black;
 

}

.header .btn-1 {
 
  background-color: #008751;
  margin: 10px;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
   border: none;
  border-radius: 5px;

} 
.header .btn-1 a {
  color: #fff;
  padding: 5px;
}

.navbar a {
  
  display: inline-block;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
  animation: slideTop 5s ease forwards ;
  animation-delay: calc(.2s * var(--i));


}

.navbar a:hover,
.navbar a.active{
  color: #008751;

}
.logo{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideBottom 5s ease forwards ;
}
/*******HERO STYLING BEGINS HERE ****/

.hero{
   
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 100px;
  justify-content: space-between;
  align-items: left;
  padding: 70px 10% 0 ;
  background-color: #EEEEEE;
  padding-bottom: 20px;
  animation: slideLeft 5s ease forwards ;
 
}

.hero-img{
  width: 50%;
  
}
.hero-content{
  margin-top: 50px;
}

.hero-content span{
  color:#008751;
  font-size: larger;

}
.hero-content h1{
  font-size: 56px;
  animation: slideRight 1s ease-in-out forwards ;
  animation-delay: .7s;
}
.hero-content h6{
  font-size: 10px;
  font-weight: 300;
  animation: slideBottom .5s ease forwards ;
  animation-delay: .7s;
}

.btn{
  display: inline-block;
  background-color: #008751;
  padding: 12px 28px;
  box-shadow: 0 0 10px #008751;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  
}
/*******HOW IT WORKS styling here******/

.how p{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  
}
.how .container {
  display: flex;
 margin-bottom:20px ;
 /*box-shadow:  0px 0px 15px black;*/
    
}

.how .container .content{
  flex: 50%;
  padding: 20px;
} 
.how .container .content img{
  width: 500px;
  animation: slideRight 1s ease forwards;

}

.how .container .content h6 {
  margin-top: 20%;

  font-weight: 300;

}




/******FORM ACTION STYLING***/
.form{
  display: grid;

}

input[type="text"],
input[type="email"],
input[type="file"]
{
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 1px 2px #008751;

}

button[type="submit"]
{
  width:100%;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #008751;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.sign-up{
  width:100%;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #008751;
}

.sign-up a{
  color: black;
  text-decoration: none;

}

@media (min-width: 320px) and (max-width: 900px) {
  .hero{
       display: grid; 
      width: 100%;
      height: 100%;
      align-items: center;
      padding-top: 10%;
      padding-bottom: 10%;
    
     
    
  }

  .hero-img{
      width: 30%;
      margin-left: 20%;
      box-shadow: 0px 0px #48b6ff;
     
  }
  

  .hero-img img{
      margin-top: 30px;
      max-width: 200%;
      border: 2px solid white;
  
      
      
  }

  .how .container{
    display: grid;
    text-align: center;
    
    
  }
  .how .container .content img{
    width: 50%;
  }
  .how .container .content img:nth-child(){
    display: none;
  }

  .how .container .content h6{
    line-height: 20px;
  }

   
    
  
    


  .how .container .content .cont{
    margin-top: 100px;
  }


.reg-img{
  display: none;
}
  
}     







@keyframes slideTop{
  0% { 
     transform: translateY(100px);
     opacity:0;
  } 
  100%{
     transform: translateY(0);
     opacity:1;
  }   
}

@keyframes slideLeft {
  0% {
     transform: translateX(-100px);
     opacity:0;
  } 
  100%{
     transform: translateX(0);
     opacity:1;
  }
}

  @keyframes slideRight {
    0% {
       transform: translateX(-100px);
       opacity:0;
    } 
    100%{
       transform: translateX(0);
       opacity:1;
    }
   }
 
