.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: black;
 

}

.header .btn-1 {
 
  background-color: #008751;
  margin: 10px;
  text-align: center;
   border: none;
  border-radius: 5px;

} 
.header .btn-1 a {
  color: #fff;
  padding: 5px;
}

.navbar a {
  
  display: inline-block;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
  animation: slideTop 5s ease forwards ;
  animation-delay: calc(.2s * var(--i));


}

.navbar a:hover,
.navbar a.active{
  color: #008751;

}
.logo{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards infinite;
}
/*******HERO STYLING BEGINS HERE ****/

.hero{
   
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 100px;
  justify-content: space-between;
  align-items: left;
  padding: 70px 10% 0 ;
  background-color: rgb(255, 238, 222);
  padding-bottom: 20px;
  animation: slideLeft 5s ease forwards ;
 
}

.hero-img{
  width: 50%;
  
}
.hero-content{
  margin-top: 50px;
}

.hero-content span{
  color:#008751;
  font-size: larger;

}
.hero-content h1{
  font-size: 56px;
  animation: slideRight 1s ease-in-out forwards ;
  animation-delay: .7s;
}
.hero-content h6{
  font-size: 10px;
  font-weight: 300;
  animation: slideBottom .5s ease forwards ;
  animation-delay: .7s;
}

.btn{
  display: inline-block;
  background-color: #008751;
  padding: 12px 28px;
  box-shadow: 0 0 10px #008751;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  
}


@media (min-width: 320px) and (max-width: 900px) {
  .hero{
       display: grid; 
      width: 100%;
      height: 100%;
      align-items: center;
      padding-top: 20%;
      padding-bottom: 20%;
    
     
    
  }

  .hero-img{
      width: 30%;
      margin-left: 20%;
      box-shadow: 0px 0px #48b6ff;
     
  }
  

  img{
      margin-top: 30px;
      max-width: 200%;
      border: 2px solid white;
      border-radius: 50%;
      
      
  }
}




@keyframes slideTop{
  0% { 
     transform: translateY(100px);
     opacity:0;
  } 
  100%{
     transform: translateY(0);
     opacity:1;
  }   
}

@keyframes slideLeft {
  0% {
     transform: translateX(-100px);
     opacity:0;
  } 
  100%{
     transform: translateX(0);
     opacity:1;
  }
 }
